body {
  text-align: center;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
}

.row1 {
  background-color:#B6E3F2;
}

p {
  color: white;
}
.nav.navbar.navbar-inverse.navbar-fixed-top {
  background-color: rgb(255, 255, 255);
  padding: 25px;
}

.container-fluid {
  margin: 0px;
  padding: 0px !important;
}

.col-md {
  padding: 0px !important;
}

.about {
  background-color:#B6E3F2;
  height: 500px;
}

.about, .portfolio, .contact, p {
  padding-top: 100px;
}

.portfolio {
  background-color: #000073;
  height: 500px;
}

.contact {
  background-color: #2E304F;
  height: 500px;
}

.heading {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
  padding: 25px;
  margin: 15px;
}

a {
  color: rgb(46, 104, 170);
}

.social {
  padding: 15px;
  margin: 0px;

}

.fa {
  padding: 10px;
  font-size: 30px !important;
  width: 10% !important;
  text-align: center;
  text-decoration: none;
  /*border-radius: 50%;*/
}

.fa:hover {
    color: lightgrey;
    text-decoration-line: none;
}

.fa-twitter, .fa-linkedin, .fa-github {
  color: grey;
}
