body {
  text-align: center;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
}

.row1 {
  background-color:#B6E3F2;
}

p {
  color: white;
}

.glyphicon glyphicon-menu-hamburger {
  color: grey;
}

body {
  margin: 0;
  font-size: 28px;
  font-family: Roboto, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.navbar-brand {
  font-size: 32px !important;
}

.navbar-menu {
  list-style: none;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

/*
NAV BAR HAMBURGER
*/

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: white;
}

/*
END NAV BAR HAMBURGER
*/

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.navbar {
  background-color: grey;
  padding: 25px;
}

.container-fluid {
  margin: 0px;
  padding: 0px !important;
}

.col-md {
  padding: 0px !important;
}

.about {
  background-color:#B6E3F2;
  height: 500px;
}

.about, .portfolio, .contact, p {
  padding-top: 100px;
}

.portfolio {
  background-color: #000073;
  height: 500px;
}

.contact {
  background-color: #2E304F;
  height: 500px;
}

.heading {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
  padding: 25px;
  margin: 15px;
}

a {
  color: rgb(46, 104, 170);
}

.material-icons {
  font-size: 30px !important;
  padding: 15px;
}

.social {
  padding: 15px;
  margin: 0px;
}

.fa {
  padding: 10px;
  font-size: 30px !important;
  width: 10% !important;
  text-align: center;
  text-decoration: none;
  /*border-radius: 50%;*/
}

.fa:hover {
    color: lightgrey;
    text-decoration-line: none;
}

.fa-twitter, .fa-linkedin, .fa-github {
  color: grey;
}
